@tailwind base;
@tailwind components;
@tailwind utilities;

.figma-light {
	@apply bg-white text-gray-900 antialiased;
}

.figma-dark {
	@apply bg-figma-gray-800 text-gray-100 antialiased;
}

button:focus,
input:focus,
div:focus {
	@apply outline-none;
}
