@tailwind base;
@tailwind components;
@tailwind utilities;

.figma-light {
  @apply antialiased bg-white text-gray-900;
}

.figma-dark {
  @apply antialiased bg-figma-gray-800 text-white;
}

button:focus,
input:focus,
div:focus {
  @apply outline-none;
}
